<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>no problemo</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2>facts about Alf</h2>
    <ul>
      <li>loves to eat cats</li>
      <li>is a musician</li>
      <li>alien from melmac</li>
      <li>is missing Ronda</li>
      <li>has to hide when visitors come over</li>
      <li>8 stomachs to eat more cats</li>
    </ul>
  </body>
</html>
