<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>no problemo</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2>facts about the series</h2>
    <ul>
      <li>each episode is named after a song</li>
      <li>runtime: 1986-1990</li>
      <li>showset built on a plattform 4ft above the ground</li>
    </ul>
  </body>
</html>
